* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
    background-color: #f0f0f0;
}

header {
	background: #1e1e1e;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1em;
}

header .controls {
	display: flex;
	padding: 10px;
	gap: 2em;
	align-items: center;
}

header .controls #coreBtns {
	display: flex;
	justify-content: space-between;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section {
	border-right: 2px solid #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sequenceSection {
	display: flex;
	align-items: center;
	justify-content: center;
}

#sequenceSection .sidebar {
	padding: 1.2em;
}
